junk/

toolchain/loader/*.o
toolchain/loader/*.ldm
toolchain/loader/*.mif

toolchain/m2tools/**/*.pyc

toolchain/vbcc/**/*.o
toolchain/vbcc/bin/**
toolchain/vbcc/machines/**/dt.h
toolchain/vbcc/machines/**/dt.c

hw/**/*.b#*
hw/**/*.s#*

fpga/src/**/*.bak

fpga/project/**
!fpga/project/MARK_II.qpf
!fpga/project/MARK_II.qsf
!fpga/project/MARK_II.sdc

doc/refman/**/*.aux
doc/refman/**/*.log
doc/refman/**/*.out
doc/refman/**/*.toc
doc/refman/**/*.lof
doc/refman/**/*.pdf
doc/refman/**/*.lot

doc/isa/**/*.aux
doc/isa/**/*.log
doc/isa/**/*.out
doc/isa/**/*.toc
doc/isa/**/*.lof
doc/isa/**/*.pdf
doc/isa/**/*.lot

toolchain/vbcc/doc/vbcc.aux
toolchain/vbcc/doc/vbcc.log
toolchain/vbcc/doc/vbcc.toc

toolchain/spl/latex/

refman.pdf
vbcc.pdf
spl_ref.pdf

sw/**/*.o
sw/**/*.ldm
sw/**/*.asm
!sw/**/startup.asm
