junk/

toolchain/loader/*.o
toolchain/loader/*.ldm
toolchain/loader/*.mif

toolchain/m2tools/**/*.pyc
toolchain/m2tools/src/version.py

toolchain/vbcc/**/*.o
toolchain/vbcc/bin/**
toolchain/vbcc/machines/**/dt.h
toolchain/vbcc/machines/**/dt.c
toolchain/vbcc/machines/mark/version.h

VHDL/**
!VHDL/src/
!VHDL/src/**
VHDL/src/**/*.bak
!VHDL/Makefile
!VHDL/MARK_II.tcl
!VHDL/MARK_II.sdc
!VHDL/MARK_II.srf

doc/refman/**/*.aux
doc/refman/**/*.log
doc/refman/**/*.out
doc/refman/**/*.toc
doc/refman/**/*.lof
doc/refman/**/*.pdf
doc/refman/**/*.lot

toolchain/vbcc/doc/vbcc.aux
toolchain/vbcc/doc/vbcc.log
toolchain/vbcc/doc/vbcc.toc

toolchain/spl/latex/
toolchain/spl/build/

refman.pdf
vbcc.pdf
spl_ref.pdf

doc/examples/**/*.o
doc/examples/**/*.ldm
doc/examples/**/*.asm
doc/examples/**/*.mif
doc/examples/**/*.disasm

board/fw/*.elf
board/fw/*.hex
board/fw/*.o

board/hw_design/*.b#*
board/hw_design/*.s#*
