toolchain/vbcc/* linguist-vendored=true
toolchain/vbcc/machines/mark/* linguist-vendored=false
fpga/src/cpu/qip/* linguist-vendored=true
fpga/src/sdram/fifo/* linguist-vendored=true
fpga/src/sdram/bidir_buff/* linguist-vendored=true
doc/* linguist-vendored=false
