junk/

sw/loader/*.o
sw/loader/*.ldm
sw/loader/*.mif

sw/m2tools/**/*.pyc

sw/vbcc/**/*.o
sw/vbcc/bin/**
sw/vbcc/machines/**/dt.h
sw/vbcc/machines/**/dt.c

hw/**/*.b#*
hw/**/*.s#*

fpga/src/**/*.bak

fpga/project/**
!fpga/project/MARK_II.qpf
!fpga/project/MARK_II.qsf
!fpga/project/MARK_II.sdc
!fpga/project/src

doc/refman/**/*.aux
doc/refman/**/*.log
doc/refman/**/*.out
doc/refman/**/*.toc
doc/refman/**/*.lof
doc/refman/**/*.pdf
doc/refman/**/*.lot

sw/vbcc/doc/vbcc.aux
sw/vbcc/doc/vbcc.log
sw/vbcc/doc/vbcc.toc
